// Variables
@import 'variables';
*{
    margin: 0px;
    padding: 0px;
}
.sectionPadding{
    padding: 50px 0px;
}

/*Client*/
.client {
    margin:80px 0px;
}
.client_logos {
    border: 2px solid #cccccc;
}
.client_img {
    margin: 5px;
    border: 2px solid #cccccc;
}
.client .owl-prev,.client .owl-next {
    position: absolute;
    top: 30%;
    background: transparent;
    padding: 5px 15px;
    font-size: 50px;
}
.client .owl-prev { 
    left: -40px;
}
.client .owl-next {
    right: -40px;
}
/*=======================footer-social================*/
#footerSection{
    background-color: $footer-bg-black;
}

h3.footerTitle{
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.footer-social ul{
    padding: 0px;
}
.footer-social ul li{
    list-style: none;
    float: left;
    padding: 0px 8px;
    margin: 0px 5px;
    border: 1px solid #fff;
    border-radius: 0px;
    
}
.footer-social ul li i{
    text-align: center;

}
.footer-social ul li a{
    color: #fff;
}
.footer-info p{
    color: #fff;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.copyrightSection{    
    color: #082f58;
}
.copycontent p{
    padding: 0px;
    margin: 0px;
    color: #000;
}
/*==============otherPages===============*/
.otherPages{
    min-height: 200px;
    overflow: hidden; 
}